<ion-header>

  <ion-navbar color="primary">
    <ion-title>component</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<button ion-button full (click)="actionsheet()">Action Sheet</button>
<div class='divider' style='width:100%;height:10px'></div>
<button ion-button full (click)="modal()">Modal</button>
<div class='divider' style='width:100%;height:10px'></div>
<button ion-button full (click)="slide()">Slide</button>
<div class='divider' style='width:100%;height:10px'></div>
<button ion-button full (click)="alert_test()">Alert</button>
<div class='divider' style='width:100%;height:10px'></div>
<button ion-button full color="danger" (click)="toast_test()">Toast</button>
<div class='divider' style='width:100%;height:10px'></div>
<button ion-button full color="primary" (click)="loading_test()">Loading</button>
</ion-content>
